.colo {
    color: green !important;
}

.navtext {
    background: transparent;
    animation: textani 1s ease; 
}

@keyframes textani {
    0% {
        transform: translateY(-20px); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}
